body {
    background-image: url('../images/brushed.png');
}

.navbar-default {
    background-color: rgba(181, 181, 181, 0.56);
}

.navbar-inverse {
    box-shadow: 1px 1px 16px #080808;
}

.main {
    background-color: rgba(8, 8, 8, 0.22);
    border-radius: 6px;
    box-shadow: 3px 5px 7px rgba(8, 8, 8, 1)
}

.jumbotron {
    background-image: url('../images/cartographer.png');
    margin: 10px;
    box-shadow: 3px 5px 7px rgba(8, 8, 8, 1);
    color: silver;

}

.navbar-right {
    margin-right: 0px;
}

.navbar-inverse {
    background-color: rgb(38, 38, 38);
}

.last {
    margin-bottom: 50px;
}

navbar-fixed-bottom {
    position: relative;
}